<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="d-center">
    <ion-input label="Correo:" type="text" [(ngModel)]="email"> </ion-input>
    <ion-input label="Cotrasenha" type="text" [(ngModel)]="password">
    </ion-input>
    <ion-button (click)="validar()">Ingresar</ion-button>
  </div>
</ion-content>
